@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
html,
body {
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
}

@layer components {
  .site-section {
    width: 100%;
  }

  .site-content {
    width: 100%;
    padding: 19px 20px;
  }

  .site-footer-content {
    width: 100%;
    padding: 19px 20px;
  }

  @screen lg {
    .site-content {
      padding: 19px 128px;
    }

    .site-footer-content {
      padding: 19px 120px;
    }
  }
}
